@model Dj_ReedRussel.Models.music

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.music_cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.music_cover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.music_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.music_info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.music_types.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.music_types.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
