@model IEnumerable<Dj_ReedRussel.Models.music>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.music_cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.music_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.music_types)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.music_src)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.music_cover)" width="100" alt="Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.music_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.music_types.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.music_src)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
