@using Dj_ReedRussel.Models;
@model dynamic
@{
    ViewBag.Title = "Event-Item";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<section class="event-head-img">
    <div class="back">
        <!-- <div class="page-name">
            <h3> Lorem ipsum dolor sit amet.</h3>
            <h2 class="title">events</h2>
        </div> -->
    </div>
</section>
<!--page ends-->
<!--page content starts-->
<section class="event-blog forheader">
    <div class="container">
        <div class="row">
            <span>ABOUT EVENT</span>
            <h3>@Model.event_item.event_name</h3>
            <p>@Model.event_item.event_info;</p>
            
            
        </div>
    </div>
</section>
<section class="event-date forheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <span>Lorem ipsum dolor sit.</span>
                <h3>EVENT TIME & DATES</h3>
                <div class="col-md-6">
                    <div class="time">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <br><span>EVENT DATE</span>
                        <h2>@Model.event_item.eventdatetime.Substring(0, Math.Min(@Model.event_item.eventdatetime.Length, 12))</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="time">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <br><span>EVENT start</span>
                        <h2>@Model.event_item.eventdatetime.Substring(13, Math.Min(@Model.event_item.eventdatetime.Length, 5))</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="event">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span>ABOUT EVENT</span>
                <h3>OTHER FESTIVAL</h3>
            </div>
            <div class="albums counters">
                @foreach (myevent item in Model.otherevents)
                {
                    <div class="albums-item">
                        <a href="@Url.Action("Index","EventItem",new { id = item.id })">
                            <img src="~/Uploads/@item.photo" alt="" class="img-responsive" style="width:100%">
                            <div class="about">
                                <p>@item.eventdatetime</p>
                                <p>@item.event_name</p>
                                <p time='@item.eventdatetime'>.</p>
                                <p>@item.event_info.Substring(0, Math.Min(item.event_info.Length, 40))...</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!--page content ends-->

