@using Dj_ReedRussel.Models;
@model dynamic
@{
    ViewBag.Title = "Radio Show-item";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<section>
    <div class="back">
        <div class="page-name">
            <h3> Lorem ipsum dolor sit amet.</h3>
            <h2 class="title">ALBUMS</h2>
        </div>
    </div>
</section>
<!--page-name ends-->
<!--album-info starts-->
<section class="album-blog">
    <div class="container">
        <div class="row">
            <div class="vr-center col-md-12 col-sm-12">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <img src="~/Uploads/@Model.album_item.cover" alt="" class="img-responsive">
                </div>
                <div class="info col-md-7 col-sm-7 col-xs-12">
                    <h2>@Model.album_item.album_name</h2>
                    <h5>@Model.album_item.author</h5>
                    <p>
                        @Model.album_item.info
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--album-info ends-->
<!--musics starts-->


<section class="audio">
    <div class="container" id="container">
        <div class="row">
            <h3 class="col-md-12">track list</h3>
            <div class="wrapper col-md-12">
                <!---->
                <ol id="width" class="col-md-12">
                    @foreach (tracklist item in Model.tracklists)
                    {
                        <li class="col-md-12 col-sm-12">
                            <div class="player">
                                <audio class="mytrack">
                                    <source src="~/Uploads/@item.music_src" />
                                </audio>
                                <nav>
                                    <div class="defaultBar">
                                        <div class="progressBar"></div>
                                    </div>
                                    <div class="buttons col-md-12 col-sm-12">
                                        <div class="col-md-4 col-sm-4 col-xs-4"><span>@item.music_name</span></div>
                                        <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right;">
                                            <span class="currentTime">0:00</span>
                                            <span class="fullDuration">/@item.music_time</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4" style="text-align:right;">
                                            <button type="button" class="muteButton"></button>
                                            <button type="button" class="playButton"></button>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    }



                </ol>

                <!---->
                <!---->
                <!---->
            </div>
        </div>
    </div>
</section>
<!--musics ends-->
<!--related ablums starts-->
<section class="album">
    <div class="container">
        <div class="row">
            <h3 style="color:white;margin:100px 0px 30px;">RELATED ALBUM</h3>
            <div class="albums">
                @foreach (album_or_radioshow item in Model.otheralbums)
                {
                    <div class="albums-item">
                        <a href="@Url.Action("Radioshow_item", "AlbumItem", new { id = item.id })">
                            <img src="~/Uploads/@item.cover" alt="">
                            <p>@item.author</p>
                        </a>
                        <p class="type">@item.album_type</p>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
<!--related ablums ends-->
