@using Dj_ReedRussel.Models;
@model dynamic
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Menu_Footer.cshtml";
}

<section class="event-head-img">
    <div class="back" style="background:url(/Public/img/slider.jpg) no-repeat;background-size:cover">
        <div class="container">
            <div class="row">
                <div class="home-page-name" style="text-align:left;">
                    <h1>HEAVEN’S<br>DOOR</h1>
                    <h3>Your dream of travelling the world with STRINGS is going to be true.</h3>
                </div>
            </div>
        </div>

    </div>
</section>
<!--page ends-->
<!--page content starts-->
<section class="modal-galery" style="background:#04010d;">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span>music SECTION</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">MUSIC VIDEOS</h3>
            </div>
            <div class="list">
                @foreach (video item in Model.videos)
                {
                    <a href="@item.link" class="gallery1" style="width:50%; ">
                        <img src="~/Uploads/@item.cover" style="height:300px"alt="img" />
                        <i class="fa fa-play-circle"></i>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal_inner">
            <img class="close" src="~/Public/img/close.png" width="32">
            <img class="left" src="~/Public/img/arrow-left.png" width="32">
            <img class="right" src="~/Public/img/arrow-right.png" width="32">
        </div>
    </div>
</section>
<section class="album" style="background:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span style="color:#04010d">AUDIO SECTION</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">TOP ALBUMS</h3>
            </div>
            <div class="albums">
                @foreach (album_or_radioshow item in Model.albums)
                {
                    <div class="albums-item">
                        <a href="@Url.Action("Index", "AlbumItem", new { id = item.id })">
                            <img src="~/Uploads/@item.cover" alt="">
                            <p>@item.author</p>
                        </a>
                        <p class="type">@item.album_type</p>
                    </div>
                }
                
            </div>
            <a href="@Url.Action("Index", "Albums")">
                <p class="z"><button class="btn">view more</button></p>
            </a>
        </div>
    </div>
</section>
<!--page content ends-->
<section class="event" style="background:url(/Public/img/event-bk.jpg) no-repeat;background-size:cover">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span>baku CONCERT 2017</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">UPCOMING EVENTS</h3>
            </div>
            <div class="albums counters">
                @foreach (myevent item in Model.events)
                {
                    <div class="albums-item">
                        <a href="@Url.Action("Index","EventItem",new { id = item.id })">
                            <img src="~/Uploads/@item.photo" alt="" class="img-responsive" style="width:100%">
                            <div class="about">
                                <p>@item.eventdatetime.Substring(0, Math.Min(item.event_info.Length, 12))</p>
                                <p>@item.event_name</p>
                                <p time='@item.eventdatetime'>.</p>
                                <p>@item.event_info.Substring(0, Math.Min(item.event_info.Length, 40))...</p>
                            </div>
                        </a>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
<section class="album" style="background:#04010d;">
    <div class="container">
        <div class="row">
            <div class="forheader">
                <span style="color:white">photogalery</span>
                <h3 style="margin-bottom: 83px;margin-top: 8px;">instagram</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="instafeed" class="row gallery"></div>
    </div>
</section>

