@model Dj_ReedRussel.Models.myevent

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>myevent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.event_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventdatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventdatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_bk_photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_bk_photo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
