@model Dj_ReedRussel.Models.album_or_radioshow

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>album_or_radioshow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.album_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.album_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tracklist.music_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tracklist.music_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page_name.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page_name.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.src)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.src)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
