@model IEnumerable<Dj_ReedRussel.Models.album_or_radioshow>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.album_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.page_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Uploads/@Html.DisplayFor(modelItem => item.cover)" width="100" alt="Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.album_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.page_name.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
